[include]
	path = ~/.gitconfig_user
[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global
	precomposeunicode = true
	quotepath = false
[credential]
	helper = osxkeychain
[push]
	default = simple
[color]
	ui = auto
[alias]
	co = checkout
	st = status
	graph = log --oneline --decorate --graph --branches
	modified = diff --diff-filter=M
	ignored = status --ignored
	show-exclude = !less $(git rev-parse --git-dir)/info/exclude
	set-rerere = config rerere.enabled true
	submodule-remove = !sh -c 'git submodule deinit ${0} && git rm ${0}'
	new-workdir = !$(brew --prefix)/share/git-core/contrib/workdir/git-new-workdir
	summary-commit = !git show --no-patch --pretty='format:Commit : %H [%h]%nDate : %ci%n%s%n' --no-notes "$1"
[interactive]
	singlekey = true
[log]
	date = local
[tig "bind"]
	generic = G none
[ghq]
	root = ~/code
[diff]
	tool = Kaleidoscope
[merge]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool]
	prompt = false
[difftool "FileMerge"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[mergetool "FileMerge"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[difftool "sourcetree"]
	cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
