[user]
	name = USAMI Kosuke
	email = usami.kosuke@gmail.com
[init]
	templatedir = ~/.git_templates
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global
	quotepath = false
[credential]
	helper = osxkeychain
[alias]
	ignored = status --ignored
[interactive]
	singlekey = true
[pull]
	ff = only
	rebase = true
[diff]
	tool = meld
[merge]
	ff = false
	tool = meld
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[ghq]
	root = ~/repos
