[user]
	name = USAMI Kosuke
	email = usami.kosuke@gmail.com
[init]
	templatedir = ~/.git_templates
[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global
	precomposeunicode = true
	quotepath = false
[credential]
	helper = osxkeychain
[push]
	default = simple
[color]
	ui = auto
[alias]
	summary = show --pretty='format:Commit : %H [%h]%nDate : %ci%n%s%n' --no-patch --no-notes
	ignored = status --ignored
	set-rerere = config rerere.enabled true
[interactive]
	singlekey = true
[log]
	date = local
[tig]
	vertical-split = false
[tig "bind"]
	generic = G none
[ghq]
	root = ~/repo
	root = ~/go/src
[pull]
	ff = only
[merge]
	ff = false
	tool = Kaleidoscope
[diff]
	tool = Kaleidoscope
[mergetool]
	prompt = false
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
